# Python cache
__pycache__/
*.pyc

# Virtual environment
env/

# Environment variables
.env

# Media files
media/

# Django static collected files (if used)
staticfiles/

# OS / IDE files
.DS_Store
.vscode/
.idea/
